### Predicting California House Prices (1990s)

This notebook explores the California housing dataset from the 1990s.  
Weâ€™ll format the data, load it into a DataFrame, and prepare it for modeling.

## Importing Libraries
We import the necessary Python libraries for data handling and model building.

In [8]:
import pandas as pd 
import numpy as np
from sklearn.datasets import fetch_california_housing

## Set Pandas Display Options
Format Pandas output to show more columns and limit float precision for readability.

In [10]:
pd.set_option("display.max_columns", 9)
pd.set_option("display.precision", 4)
pd.set_option("display.width", None)

## Load and Preview Dataset

In [16]:
california = fetch_california_housing()
df = pd.DataFrame(data=california.data, columns=california.feature_names)
df["MedHouseVal"] = california.target
df.head()

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,MedHouseVal
0,8.3252,41.0,6.9841,1.0238,322.0,2.5556,37.88,-122.23,4.526
1,8.3014,21.0,6.2381,0.9719,2401.0,2.1098,37.86,-122.22,3.585
2,7.2574,52.0,8.2881,1.0734,496.0,2.8023,37.85,-122.24,3.521
3,5.6431,52.0,5.8174,1.0731,558.0,2.5479,37.85,-122.25,3.413
4,3.8462,52.0,6.2819,1.0811,565.0,2.1815,37.85,-122.25,3.422